[user]
	name = Geoff Corey
	email = geoff@geoffcorey.com
[pull]
	rebase = false
[core]
	pager = delta --dark
[delta]
	side-by-side = false
	line-numbers = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
